<h3 class="text-2xl font-bold md:text-2xl md:leading-tight dark:text-white">Friend Suggestions</h3>
{% for friend in friend_suggestions %}

    <div class="grid-rows-1 text-center lg:flex dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
        <img class="rounded-lg max-w-[10rem] lg:w-24 lg:h-24 object-cover"
             src="/media/{{ friend.userprofile.profile_image }}"
             alt=" Image Description">

        <div class="flex sm:flex-col sm:h-full px-4 gap-3 py-2 w-full">
            <h3 class="font-medium text-gray-800 dark:text-gray-200">
                {{ friend.first_name }} {{ friend.last_name }}
            </h3>
            <button type="button" onclick="add_friend(this)" data-friend-id="{{ friend.id }}"
                    class="block p-2 text-center rounded-sm dark:text-gray-900 dark:bg-violet-400 disabled:bg-gray-300">
                Add friend
            </button>
        </div>
    </div>
{% endfor %}

<script>
    function add_friend(button) {
        const friend_id = button.getAttribute('data-friend-id')
        axios.post('/api/friends/add-friend', {
            friend_id: friend_id
        }, {
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(function (response) {
                console.log(response);
                button.innerHTML = 'Sent'
                button.disabled = true
            })
            .catch(function (error) {
                console.log(error);
                if (error.response.data.request_sent_or_exist) {
                    button.innerHTML = 'Already Exists'
                    button.disabled = true
                } else if (error.response.data.request_sent_or_exist === false) {
                    button.parentElement.parentElement.remove()
                }
            });
    }
</script>