{# I wrote this code #}
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="w-full p-8 px-6 flex flex-col space-y-8 justify-center items-center dark:bg-gray-700">
        <h2 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">Chat Room: {{ room.name }}</h2>
        <div class="w-full flex flex-col md:flex-row gap-5">
            <div class="w-full p-8 col-span-3 flex flex-col space-y-3 rounded-xl dark:bg-gray-900 dark:text-gray-100">
                <div class="grid gap-2">
                    <label for="roomInput" class="font-bold uppercase">Enter room name to connect the chat</label>
                    {# Input field for entering the room name #}
                    <input onkeydown="return /[a-zA-Z0-9_]/i.test(event.key)"
                           class="py-3 px-4 block w-full border-gray-200 rounded-md focus:border-blue-500 focus:ring-blue-500 dark:bg-white dark:border-gray-700 dark:text-gray-400"
                           rows="15" placeholder="Room name"
                           id="roomInput"></input>
                    <small id="roomInputHelp" class="form-text text-muted text-red-400">Only A-Z, a-z and underscore
                        characters are
                        allowed.</small>
                    <small id="roomInputHelp" class="form-text text-muted">
                        If room doesn't exists it will create new room.</small>
                    {# Button to connect to the room #}
                    <button type="button" id="roomConnect"
                            class="py-3 px-4 max-w-[9rem] rounded-sm border border-transparent font-semibold bg-violet-400 dark:text-gray-900 hover:bg-violet-500 focus:outline-none focus:ring-2 focus:ring-violet-400 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                        Connect
                    </button>
                </div>

            </div>
            <div class="w-full p-8 col-span-2 flex flex-col gap-2 rounded-xl dark:bg-gray-900 dark:text-gray-100">
                <label for="roomSelect" class="font-bold uppercase">Active rooms</label>
                {# Active rooms list #}
                <select id="roomSelect" multiple
                        class="py-3 px-4 block w-full min-h-[15rem] border-gray-200 rounded-md focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 h-full">
                    {% for room in rooms %}
                        <option>{{ room }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <script src="{% static 'js/chat.js' %}"></script>

{% endblock %}

{# end of code I wrote #}