{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="w-full p-8 px-6 flex flex-col space-y-8 justify-center items-center dark:bg-gray-700">
        <h2 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">Chat Room: {{ room.name }}</h2>
        <div class="w-full flex flex-col md:flex-row gap-5">
            <div class="w-full p-8 col-span-3 flex flex-col space-y-3 rounded-xl dark:bg-gray-900 dark:text-gray-100">
                <div class="grid gap-2">
                    <label for="chatLog" class="font-bold uppercase">Room: #{{ room.name }} messages</label>
                    <textarea
                            class="py-3 px-4 block w-full border-gray-200 rounded-md focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                            rows="15"
                            id="chatLog" readonly></textarea>
                </div>
                <div class="flex">
                    <input type="text" class="w-full rounded-l-md dark:text-black" id="chatMessageInput"
                           placeholder="Enter your message">
                    <div class="input-group-append ">
                        <button type="button" id="chatMessageSend"
                                class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-sm border border-transparent font-semibold bg-violet-400 dark:text-gray-900 hover:bg-violet-500 focus:outline-none focus:ring-2 focus:ring-violet-400 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                        >Send
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full p-8 col-span-2 flex flex-col gap-2 rounded-xl dark:bg-gray-900 dark:text-gray-100">
                <label for="onlineUsersSelector" class="font-bold uppercase">Online users</label>
                <select multiple
                        class="py-3 px-4 block w-full min-h-[15rem] border-gray-200 rounded-md focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 h-full"
                        id="onlineUsersSelector">
                </select>
            </div>
            {{ room.name|json_script:"roomName" }}
        </div>
    </div>
    <script src="{% static 'js/room.js' %}"></script>

{% endblock %}